<p>
  <strong>Name:</strong>
  <%= @gemstone.name %>
</p>

<p>
  <strong>Version:</strong>
  <%= @gemstone.version %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @gemstone.summary %>
</p>

<p><%= link_to 'Documentation', '#' %></p>
<%= link_to 'Back', gemstones_path %>
